<h1>INDEX</h1>
<h3><%= @person * 10 %></h3>

<ul>
<li><h1><%= link_to("Links", links_path) %></h1></li>
<li><h1><%= link_to("Contact", contact_path) %></h1></li>
<li><h1><%= link_to("About", about_path) %></h1></li>
</ul>

<h1><b><%= link_to "TEST LINK TO PAGE", links_path %></b></h1>